<div class="wrap">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-8 text-center mt-5">
				<strong>本当に退会しますか？</strong>
			</div>
			<div class="col-8 text-center mt-3">
				<p>退会すると、会員登録情報や<br>
				これまでの投稿が閲覧できなくなります。<br>
				退会する場合は、「退会する」をクリックしてください。</p>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-8 text-center mt-3">
				<%= link_to "退会しない", edit_user_path(@user), class: "btn btn-sm btn-primary" %>
				<%= link_to "退会する", users_withdraw_path(@user), method: :put, "data-confirm" => "本当に退会しますか？", class: "btn btn-sm btn-danger" %>
			</div>
		</div>
	</div>
</div>
