<p>
	Webサイトへのお問い合わせ内容は以下の通りです。<br>
	--------------------------<br>
	Name: <%= @contact.name %><br>
	Email: <%= @contact.email %><br>
	Message:
		<%= @contact.message %><br>
	--------------------------<br>
</p>