<div class="wrap">
	<!--======== Top ========-->
	<section id="top">
		<div class="container-fluid">
			<h1 class="top-title">SIXPACK</h1>
			<p class="top-text">Let's work out!!</p>
		</div>
	</section>
	<!--========= About ========-->
	<section id="about">
		<div class="container-fluid">
			<h2 class="heading">SIXPACK</h2>
				<p class="heading-text">
					最近、ちょっと太ってきたな...もっと筋肉つけたいな...<br>
					よし、筋トレしよう！<br>
					だけど、いざ始めると苦しくて面倒くさくなって3日坊主で終わってしまう...<br>
					このサイトは筋トレに取り組む人同士の交流を促すことで、筋トレのモチベーションアップに繋げ、<br>理想の体型を手に入れるスーパーマッチョなサイトです！<br>
				</p>
		</div>
	</section>
	<!--======== footer ========-->
	<footer>
        <nav class="footer">
          <p class="copyright">©2020 Wasaki Ritsuya</p>
        </nav>
	</footer>
</div>

