<div class="wrap">
	<!--======== Top ========-->
	<section id="top">
		<div class="container-fluid">
			<h1 class="top-title fade-in-bottom">SIXPACK</h1>
			<p class="top-text fade-in-bottom">Let's work out!!</p>
		</div>
	</section>
	<!--========= About ========-->
	<section id="about">
		<div class="container-fluid">
			<h2 class="heading">SIXPACK</h2>
				<p class="heading-text">
					最近、ちょっと太ってきたな...もっと筋肉つけたいな...<br>
					よし、筋トレしよう！<br>
					だけど、いざ始めると苦しくて面倒くさくなって3日坊主で終わってしまう...<br>
					このサイトは筋トレに取り組む人同士の交流を促すことで、<span class="under">筋トレのモチベーションアップに繋げ、</span><br>理想の体型を手に入れる<span class="under">スーパーマッチョなサイト</span>です！<br>
				</p>
		</div>
		<div class="production-group clearfix">
			<div class="production bg-1 sp-none"></div>
			<div class="production bg-2"></div>
			<div class="production bg-3 sp-none"></div>
			<div class="production bg-4"></div>
			<div class="production bg-5 sp-none"></div>
			<div class="production bg-6"></div>
		</div>
	</section>
	<!--======== footer ========-->
	<footer>
        <nav class="footer">
          <p class="copyright">© Copyright 2020 SIXPACK, inc. All rights reserved.</p>
        </nav>
	</footer>
</div>